.main {
  width: 100%;
  flex: 1 1 auto;
  overflow: hidden;
}

.main_content {
  display: flex;
  height: 100%;
  padding: 20px 0 32px;
  margin: 0 -12px;
}

.container {
  height: 100%;
}

@media (max-width: 500px) {
  .main_content {
    display: flex;
    flex-direction: column;
  }
  
  .main_content {
    padding: 100px 0 32px;
  }
}
